@using ScorecardAPI.Models

@if (MatchEvent != null)
{
    <div class="card c-border-dark col-md-2 m-4">
        <div class="card-header c-border-dark">
            <div class="d-flex justify-content-between align-items-center">
                <div class="flex-grow-1">
                    <h5 class="card-title" style="padding-top:.75vh">@MatchEvent.EventType</h5>
                </div>
                <button type="button" class="btn btn-outline-primary" @onclick="RemoveEvent">X</button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="card f-border-red col-md-5 m-2">
                    <div class="card-body event-fighter">
                        @MatchEvent.FighterOneReduction
                    </div>
                </div>
                <div class="card f-border-blue col-md-5 m-2">
                    <div class="card-body event-fighter">
                        @MatchEvent.FighterTwoReduction
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@code {
    [Parameter]
    public MatchEvent? MatchEvent { get; set; }

    [Parameter]
    public EventCallback<MatchEvent> OnRemove { get; set; }

    private void RemoveEvent ()
    {
        if (MatchEvent != null)
        {
            OnRemove.InvokeAsync(MatchEvent);
        }
    }
}
